@charset "UTF-8";
@font-face {
  font-family: "Montserrat";
  src: url("fonts/Montserrat-Black.eot");
  src: local("☺"), url("fonts/Montserrat-Black.woff") format("woff"), url("fonts/Montserrat-Black.ttf") format("truetype"), url("fonts/Montserrat-Black.svg") format("svg");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("fonts/Montserrat-Bold.eot");
  src: local("☺"), url("fonts/Montserrat-Bold.woff") format("woff"), url("fonts/Montserrat-Bold.ttf") format("truetype"), url("fonts/Montserrat-Bold.svg") format("svg");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("fonts/Montserrat-Regular.eot");
  src: local("☺"), url("fonts/Montserrat-Regular.woff") format("woff"), url("fonts/Montserrat-Regular.ttf") format("truetype"), url("fonts/Montserrat-Regular.svg") format("svg");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("fonts/Montserrat-Light.eot");
  src: local("☺"), url("fonts/Montserrat-Light.woff") format("woff"), url("fonts/Montserrat-Light.ttf") format("truetype"), url("fonts/Montserrat-Light.svg") format("svg");
  font-weight: 300;
  font-style: normal;
}
/*! normalize.css v3.0.2 | MIT License | git.io/normalize */
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden],
template {
  display: none;
}

a {
  background-color: transparent;
}

a:active,
a:hover {
  outline: 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

mark {
  background: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 1em 40px;
}

hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

pre {
  overflow: auto;
}

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}

button {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html input[type=button],
input[type=reset],
input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
html input[disabled] {
  cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input {
  line-height: normal;
}

input[type=checkbox],
input[type=radio] {
  box-sizing: border-box;
  padding: 0;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  height: auto;
}

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
}

optgroup {
  font-weight: bold;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

::selection {
  background: #FFF498;
}

::-moz-selection {
  background: #FFF498;
}

img::selection {
  background: transparent;
}

img::-moz-selection {
  background: transparent;
}

body {
  -webkit-tap-highlight-color: #FFF498;
}

body {
  background-color: #0c0c0c;
  font-size: 1.7543859649vh;
  line-height: 1.6;
  font-family: "Montserrat", sans-serif;
  color: #fff;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
}

.l-viewport {
  position: relative;
  width: 100%;
  height: 100vh;
  box-shadow: 0 0 5.6390977444vh 0.626566416vh rgba(0, 0, 0, 0.85);
  overflow: hidden;
}

.l-wrapper {
  position: relative;
  width: 180.4511278195vh;
  max-width: 90%;
  height: 100%;
  margin: 0 auto;
}

.l-side-nav {
  position: absolute;
  left: 0;
  display: flex;
  height: 100%;
  align-items: center;
}
.l-side-nav::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 0.2506265664vh;
  height: 70%;
  max-height: 93.984962406vh;
  background-color: #555;
  opacity: 0.35;
  z-index: 10;
}
@media (max-width: 147.8696741855vh) {
  .l-side-nav {
    display: none;
  }
}

.l-main-content {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
}

.l-section {
  position: absolute;
  width: 100%;
  height: 100%;
}

.device-notification {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #0c0c0c;
  z-index: 12;
}
.device-notification--logo {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #fff;
}
.device-notification--logo p {
  margin: 0 0 0 1.2531328321vh;
  font-size: 2.0050125313vh;
  font-weight: 700;
  text-transform: uppercase;
}
.device-notification--message {
  width: 70%;
  margin: 3.7593984962vh 0 0 0;
  font-weight: 700;
  text-align: center;
}
@media (max-width: 96.1152882206vh) and (min-width: 75.313283208vh) and (max-height: 85.2130325815vh) {
  .device-notification {
    display: flex;
  }
}
@media (max-width: 75.1879699248vh) and (min-width: 60.1503759398vh) and (max-height: 72.6817042607vh) {
  .device-notification {
    display: flex;
  }
}
@media (max-width: 92.2305764411vh) and (min-width: 45.1127819549vh) and (orientation: landscape) {
  .device-notification {
    display: flex;
  }
}
@media (max-width: 44.9874686717vh) {
  .device-notification {
    display: flex;
  }
}

.section {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.4s ease-in-out, visibility 0s 0.4s;
}
.section--is-active {
  opacity: 1;
  visibility: visible;
  z-index: 1;
  transition: opacity 0.4s ease-in-out 0.4s;
}
.section--next {
  transform: translateY(-5.6390977444vh);
  transition: transform 0.4s ease-in-out;
}
.section--prev {
  transform: translateY(5.6390977444vh);
  transition: transform 0.4s ease-in-out;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 8.7719298246vh;
  align-items: center;
  justify-content: space-between;
  z-index: 10;
  background-color: black;
}
.header--logo {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #fff;
  margin-left: 9.3984962406vh;
}
.header--logo img {
  width: 15%;
}
.header--logo p {
  margin: 0 0 0 1.2531328321vh;
  font-size: 2.0050125313vh;
  font-weight: 700;
}
.header--nav-toggle {
  display: flex;
  width: 6.2656641604vh;
  height: 6.2656641604vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin-right: 9.3984962406vh;
}
.header--nav-toggle span, .header--nav-toggle::before, .header--nav-toggle::after {
  content: "";
  position: relative;
  width: 2.0050125313vh;
  height: 0.2506265664vh;
  background-color: #fff;
}
.header--nav-toggle::before {
  bottom: 0.626566416vh;
  width: 2.8822055138vh;
}
.header--nav-toggle::after {
  top: 0.626566416vh;
  width: 2.8822055138vh;
}
.header--cta {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 0 2.5062656642vh;
  line-height: 3.7593984962vh;
  text-decoration: none;
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
  background-color: rgb(93, 92, 92);
  border: none;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.4s ease-in-out, visibility 0s 0.4s;
}
.header--cta:focus {
  outline: none;
}
.header--cta.is-active {
  opacity: 1;
  visibility: visible;
  transition: opacity 0.4s ease-in-out 0.4s;
}
@media (max-width: 96.1152882206vh) {
  .header--cta {
    display: none;
  }
}

.side-nav {
  position: relative;
  display: flex;
  width: 12.5313283208vh;
  height: 70%;
  max-height: 93.984962406vh;
  flex-direction: column;
  justify-content: space-around;
  margin: 0;
  padding: 0;
  list-style-position: inside;
  z-index: 10;
}
.side-nav > li {
  position: relative;
  top: -0.626566416vh;
  color: #fff;
  font-size: 0.7518796992vh;
  cursor: pointer;
}
.side-nav > li span {
  position: relative;
  top: 0.3759398496vh;
  left: 1.2531328321vh;
  color: #fff;
  font-size: 1.7543859649vh;
  font-weight: 300;
  opacity: 0;
  visibility: hidden;
}
.side-nav > li::before {
  position: absolute;
  top: 0.3759398496vh;
  left: 1.2531328321vh;
  color: #555;
  font-size: 1.7543859649vh;
  font-weight: 300;
}
.side-nav li:nth-child(1)::before {
  content: "01";
}
.side-nav li:nth-child(2)::before {
  content: "02";
}
.side-nav li:nth-child(3)::before {
  content: "03";
}
.side-nav li:nth-child(4)::before {
  content: "04";
}
.side-nav li:nth-child(5)::before {
  content: "05";
}
.side-nav li.is-active {
  color: rgb(93, 92, 92);
  transition: color 0.4s ease-in-out;
}
.side-nav li.is-active span {
  opacity: 1;
  visibility: visible;
  transition: opacity 0.4s ease-in-out;
}
.side-nav li.is-active::before {
  left: -4.1353383459vh;
  color: #fff;
}

.intro {
  position: relative;
  display: flex;
  width: 112.7819548872vh;
  max-width: 75%;
  height: 100%;
  flex-direction: column;
  justify-content: flex-start;
  margin: 0 auto;
}
@media (max-width: 147.8696741855vh) {
  .intro {
    max-width: 100%;
  }
}
.intro--banner {
  position: relative;
  height: 52.6315789474vh;
  margin-top: 18.7969924812vh;
}
.intro--banner::before {
  content: "";
  position: absolute;
  bottom: 2.5062656642vh;
  left: -1.8796992481vh;
  right: 0;
  height: 0.2506265664vh;
  background-color: rgb(93, 92, 92);
}
.intro--banner::after {
  content: "";
  position: absolute;
  bottom: 2.2556390977vh;
  left: 0;
  width: 3.7593984962vh;
  height: 0.5012531328vh;
  background-color: rgb(93, 92, 92);
}
.intro--banner h1 {
  position: relative;
  font-size: 8.5213032581vh;
  font-weight: 900;
  line-height: 1;
  z-index: 1;
}
.intro--banner button {
  position: relative;
  padding: 0.626566416vh 2.1303258145vh 0.626566416vh 1.5037593985vh;
  font-weight: 700;
  text-transform: uppercase;
  background-color: transparent;
  border: none;
}
.intro--banner button .btn-background {
  position: absolute;
  top: 0;
  left: 2.8822055138vh;
  right: 0;
  height: 100%;
  background-color: rgb(93, 92, 92);
  z-index: -1;
  transition: left 0.2s ease-in-out;
}
.intro--banner button:hover .btn-background {
  left: 0;
}
.intro--banner button:focus {
  outline: none;
}
.intro--banner button svg {
  position: relative;
  left: 0.626566416vh;
  width: 1.8796992481vh;
  fill: #fff;
}
.intro--banner img {
  position: absolute;
  bottom: 2.6315789474vh;
  right: -1.5037593985vh;
}
.intro--options {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;
}
.intro--options > a {
  max-width: 31.328320802vh;
  text-decoration: none;
  color: rgb(93, 92, 92);
  transition: color 0.2s ease-in-out;
}
.intro--options > a:hover {
  color: #fff;
}
.intro--options h3 {
  font-size: 2.8822055138vh;
  text-transform: uppercase;
}
.intro--options p {
  margin-bottom: 0;
  font-size: 2.5062656642vh;
}

@media (max-width: 112.7819548872vh) {
  .intro--banner {
    height: 47.619047619vh;
  }
  .intro--banner h1 {
    font-size: 6.8922305764vh;
  }
  .intro--banner img {
    width: 53.8847117794vh;
  }
  .intro--options > a {
    margin-right: 3.7593984962vh;
  }
  .intro--options > a:last-child {
    margin-right: 0;
  }
}
@media (max-width: 96.1152882206vh) {
  .intro--banner {
    height: 38.2205513784vh;
  }
  .intro--banner h1 {
    font-size: 5.5137844612vh;
  }
  .intro--banner img {
    width: 41.3533834586vh;
  }
  .intro--options {
    display: block;
  }
  .intro--options > a {
    display: block;
    max-width: 100%;
    margin: 0 0 3.7593984962vh 0;
  }
  .intro--options > a:last-child {
    margin-bottom: 0;
  }
}
@media (max-width: 75.1879699248vh) {
  .intro--banner {
    height: 45.1127819549vh;
  }
  .intro--banner h1 {
    font-size: 6.8922305764vh;
  }
  .intro--banner img {
    display: none;
  }
}
@media (max-width: 75.1879699248vh) and (max-height: 93.984962406vh) {
  .intro--banner {
    height: auto;
  }
  .intro--banner::before, .intro--banner::after {
    display: none;
  }
  .intro--banner h1 {
    margin-top: 0;
  }
  .intro--options {
    display: none;
  }
}
.work {
  position: relative;
  display: flex;
  width: 120.3007518797vh;
  max-width: 80%;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
}
@media (max-width: 147.8696741855vh) {
  .work {
    max-width: 100%;
  }
}
.work h2 {
  margin: 0 0 2.5062656642vh 0;
  font-size: 3.7593984962vh;
  text-align: center;
}
.work--lockup {
  position: relative;
}
.work--lockup .slider {
  position: relative;
  display: flex;
  width: 80%;
  margin: 0 auto;
  padding: 0;
  list-style: none;
}
.work--lockup .slider--item {
  position: absolute;
  display: none;
  text-align: center;
}
.work--lockup .slider--item a {
  text-decoration: none;
  color: #858585;
}
.work--lockup .slider--item-title {
  margin-top: 1.2531328321vh;
  font-size: 1.5037593985vh;
  font-weight: 700;
  text-transform: uppercase;
}
.work--lockup .slider--item-description {
  display: none;
  max-width: 31.328320802vh;
  margin: 0 auto;
}
.work--lockup .slider--item-image {
  width: 18.7969924812vh;
  height: 18.7969924812vh;
  margin: 0 auto;
  border-radius: 50%;
  overflow: hidden;
}
.work--lockup .slider--item-image img {
  width: 100%;
  aspect-ratio: 1/1;
}
.work--lockup .slider--item-left {
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  display: block;
}
.work--lockup .slider--item-right {
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  display: block;
}
.work--lockup .slider--item-center {
  position: relative;
  top: 3.7593984962vh;
  left: 50%;
  transform: translateX(-50%);
  display: block;
}
.work--lockup .slider--item-center a {
  color: #fff;
}
.work--lockup .slider--item-center .slider--item-title {
  margin-top: 3.1328320802vh;
  font-size: 2.8822055138vh;
}
.work--lockup .slider--item-center .slider--item-description {
  display: block;
  font-size: 2.1303258145vh;
}
.work--lockup .slider--item-center .slider--item-image {
  width: 37.5939849624vh;
  height: 37.5939849624vh;
}
.work--lockup .slider--next,
.work--lockup .slider--prev {
  position: absolute;
  top: 20.0501253133vh;
  display: flex;
  width: 6.2656641604vh;
  height: 6.2656641604vh;
  align-items: center;
  justify-content: center;
  background-color: rgb(93, 92, 92);
  border-radius: 50%;
  cursor: pointer;
}
.work--lockup .slider--next svg,
.work--lockup .slider--prev svg {
  width: 2.5062656642vh;
  fill: #fff;
}
.work--lockup .slider--next {
  right: 0;
}
.work--lockup .slider--prev {
  left: 0;
}

@media (max-width: 112.7819548872vh) {
  .work--lockup .slider--item-image {
    width: 15.037593985vh;
    height: 15.037593985vh;
  }
  .work--lockup .slider--item-center .slider--item-image {
    width: 30.0751879699vh;
    height: 30.0751879699vh;
  }
  .work--lockup .slider--next,
  .work--lockup .slider--prev {
    top: 16.290726817vh;
  }
}
@media (max-width: 96.1152882206vh) {
  .work--lockup .slider {
    width: 75%;
  }
  .work--lockup .slider--item-image {
    width: 11.2781954887vh;
    height: 11.2781954887vh;
  }
  .work--lockup .slider--item-center .slider--item-image {
    width: 23.8095238095vh;
    height: 23.8095238095vh;
  }
  .work--lockup .slider--next,
  .work--lockup .slider--prev {
    top: 13.1578947368vh;
  }
}
@media (max-width: 75.1879699248vh) {
  .work--lockup .slider {
    width: auto;
  }
  .work--lockup .slider--item-left, .work--lockup .slider--item-right {
    display: none;
  }
}
.about {
  position: relative;
  display: flex;
  width: 112.7819548872vh;
  max-width: 75%;
  height: 100%;
  flex-direction: column;
  justify-content: flex-start;
  margin: 0 auto;
}
@media (max-width: 147.8696741855vh) {
  .about {
    max-width: 100%;
  }
}
.about--banner {
  position: relative;
  height: 59.5238095238vh;
  margin-top: 18.7969924812vh;
}
.about--banner h2 {
  position: relative;
  margin-top: 4.3859649123vh;
  font-size: 8.5213032581vh;
  font-weight: 900;
  line-height: 1;
  z-index: 2;
  color: white;
}
.about--banner p {
  position: relative;
  z-index: 2;
  font-size: 3.007518797vh;
  color: rgb(197, 196, 196);
  margin-top: 2.5062656642vh;
}
.about--options {
  display: flex;
  max-width: 75.1879699248vh;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;
  z-index: 2;
}
.about--options > a {
  position: relative;
  width: 18.7969924812vh;
  height: 9.3984962406vh;
  text-decoration: none;
  color: #fff;
  border: 1.2531328321vh solid rgb(93, 92, 92);
  background: center/cover no-repeat;
}
.about--options > a:hover h3 {
  bottom: -6.2656641604vh;
}
.about--options > a h3 {
  position: absolute;
  bottom: -4.7619047619vh;
  left: 1.2531328321vh;
  font-size: 2.0050125313vh;
  text-transform: uppercase;
  transition: bottom 0.2s ease-in-out, left 0.2s ease-in-out;
}

@media (max-width: 96.1152882206vh) {
  .about--banner {
    height: 38.2205513784vh;
  }
  .about--banner::before {
    top: 0;
    left: 15.664160401vh;
  }
  .about--banner::after {
    top: 4.3859649123vh;
    left: 32.5814536341vh;
  }
  .about--banner h2 {
    margin-top: 1.2531328321vh;
    font-size: 5.5137844612vh;
  }
  .about--banner img {
    width: 39.4736842105vh;
  }
}
@media (max-width: 75.1879699248vh) {
  .about--banner {
    height: auto;
  }
  .about--banner::before {
    left: 19.4235588972vh;
  }
  .about--banner::after {
    left: 38.8471177945vh;
  }
  .about--banner h2 {
    margin-top: 0;
    font-size: 6.8922305764vh;
  }
  .about--banner img {
    display: none;
  }
  .about--options {
    display: none;
  }
}
.contact {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../img/contact.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.contact--lockup {
  position: relative;
  display: flex;
  width: 112.7819548872vh;
  max-width: 75%;
  height: 100%;
  align-items: center;
  justify-content: flex-end;
  margin: 0 auto;
}
@media (max-width: 147.8696741855vh) {
  .contact--lockup {
    max-width: 90%;
  }
}
@media (max-width: 96.1152882206vh) {
  .contact--lockup {
    justify-content: center;
  }
}
.contact--lockup .modal {
  padding: 5.6390977444vh 5.6390977444vh;
  text-align: center;
  background-color: #0c0c0c;
  box-shadow: 0 0 3.7593984962vh 0 rgba(0, 0, 0, 0.75);
}
.contact--lockup .modal--information p,
.contact--lockup .modal--information a {
  display: block;
  margin: 1.7543859649vh 0;
  text-decoration: none;
  color: #fff;
  font-weight: 700;
  font-size: 2.5062656642vh;
}
.contact--lockup .modal--information p {
  margin-top: 0;
}
.contact--lockup .modal--options {
  margin: 0;
  padding: 0;
  list-style: none;
}
.contact--lockup .modal--options > li {
  width: 16.290726817vh;
  margin: 0 auto 3.1328320802vh auto;
}
.contact--lockup .modal--options li:nth-child(1) {
  background-color: rgb(23, 123, 222);
}
.contact--lockup .modal--options li:nth-child(2) {
  background-color: rgb(93, 92, 92);
}
.contact--lockup .modal--options li:nth-child(3) {
  margin-bottom: 0;
  background-color: rgb(93, 92, 92);
  text-transform: uppercase;
}
.contact--lockup .modal--options a {
  display: block;
  width: 100%;
  padding: 1.0025062657vh 0;
  text-decoration: none;
  color: #fff;
  font-weight: 700;
}

.team {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 150.3759398496vh;
  margin: 0 auto;
  padding: 11.2781954887vh;
  align-items: center;
}
.team .team-advisor {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 8.7719298246vh;
}
.team .team-advisor img {
  width: 75%;
  max-width: 37.5939849624vh;
  aspect-ratio: 1/1;
  object-fit: cover;
  margin-bottom: 2.5062656642vh;
}
.team .team-advisor .member-name {
  font-size: 3.7593984962vh;
  margin-bottom: 1.2531328321vh;
}
.team .team-advisor .member-title {
  font-size: 3.1328320802vh;
  margin-bottom: 1.2531328321vh;
}
.team .team-advisor .linkedin-button {
  margin-bottom: 2.5062656642vh;
  padding: 1.2531328321vh 2.5062656642vh;
  background-color: rgb(93, 92, 92);
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  text-transform: uppercase;
}
.team .team-advisor p {
  text-align: center;
  padding: 0 1.2531328321vh;
}
.team .team-members {
  flex: 2;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 2.5062656642vh;
}
.team .team-members ul {
  list-style: none;
  padding: 0;
}
.team .team-members ul li {
  margin-bottom: 2.5062656642vh;
  position: relative;
  padding-left: 3.7593984962vh;
}
.team .team-members ul li::before {
  content: "•";
  color: rgb(93, 92, 92);
  font-size: 2.5062656642vh;
  position: absolute;
  left: 0;
  top: 0;
}
.team .team-members ul li span {
  margin-right: 1.2531328321vh;
  font-size: 2.8822055138vh;
}
.team .team-members ul li .linkedin-button {
  padding: 0.626566416vh 1.2531328321vh;
  background-color: rgb(93, 92, 92);
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  text-transform: uppercase;
}

.perspective {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.perspective--modalview {
  position: fixed;
  perspective: 187.969924812vh;
}

.container {
  position: relative;
  transform: translateZ(0) translateX(0) rotateY(0deg);
  min-height: 100%;
  outline: 3.7593984962vh solid rgb(93, 92, 92);
  transition: transform 0.4s;
}

.modalview .container {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  backface-visibility: hidden;
}

.effect-rotate-left .container {
  transform-origin: 0% 50%;
  transition: transform 0.4s;
}
.effect-rotate-left--animate .container {
  transform: translateZ(-225.5639097744vh) translateX(-50%) rotateY(45deg);
  outline: 3.7593984962vh solid rgb(93, 92, 92);
}

.outer-nav {
  position: absolute;
  top: 50%;
  left: 55%;
  transform: translateY(-50%);
  transform-style: preserve-3d;
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
  visibility: hidden;
  transition: visibility 0s 0.2s;
}
.outer-nav.is-vis {
  visibility: visible;
}
.outer-nav--return {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  cursor: pointer;
  z-index: 11;
}
.outer-nav--return.is-vis {
  display: block;
}
.outer-nav > li {
  transform-style: preserve-3d;
  transform: translateX(43.8596491228vh) translateZ(-125.313283208vh);
  font-size: 4.3859649123vh;
  color: rgb(93, 92, 92);
  font-weight: 900;
  opacity: 0;
  cursor: pointer;
  transition: transform 0.2s, opacity 0.2s;
}
.outer-nav > li.is-vis {
  transform: translateX(0) translateZ(0);
  opacity: 1;
  transition: transform 0.4s, opacity 0.4s;
}
.outer-nav > li.is-active {
  font-size: 8.1453634085vh;
  color: #fff;
}
@media (max-width: 96.1152882206vh) {
  .outer-nav > li {
    font-size: 5.5137844612vh;
  }
}
@media (max-width: 75.1879699248vh) {
  .outer-nav > li {
    font-size: 4.2606516291vh;
  }
}
.outer-nav li.is-vis:nth-child(2) {
  transition-delay: 0.04s;
}
.outer-nav li.is-vis:nth-child(3) {
  transition-delay: 0.08s;
}
.outer-nav li.is-vis:nth-child(4) {
  transition-delay: 0.12s;
}
.outer-nav li.is-vis:nth-child(5) {
  transition-delay: 0.16s;
}

/*# sourceMappingURL=main.css.map */
